body {
    background-color: #fff1e6;
}
  
.gridContainer {
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
}

.cardInfo { grid-area: 1 / 1 / 2 / 3; }
.recipePageImg { grid-area: 2 / 1 / 4 / 3; }
.addorRemoveCookbookButton { grid-area: 1 / 3 / 2 / 5; }
.ingAndMeas { grid-area: 2 / 3 / 4 / 5; }
.instructions { grid-area: 4 / 1 / 6 / 5; }

.recipeImg {
    max-width: 600px;
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 7px;
}

.addOrRemoveCookbookButton {
    padding-top: 12px;
    padding-right: 20px;
    text-align: right;
}

.instructions {
    padding: 20px;
    padding-bottom: 60px;
}

ol {
    display: table;
    margin: 0 auto;
    text-align: left;
    padding-top: 10px;
    min-width: fit-content;
}

.buttonPadding {
    padding: 20px;
}

.form-container {
    background-color: white;
    border-style: solid;
    border-color: #33d8d5 ;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.loginAndSignup {
    justify-content: center;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.cookbookOwner {
    justify-content: center;
    padding: 20px
}